:root {
    --main-bg-color: #2196F3;
    --font-s: 14px;
    --color-b: #212121;
    --line-height: 1.14;
    --letter-spacing: 0.03em;
    --color-white: #FFFFFF;
    --color-grey: #757575;
    --bg-color: #2F303A;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: var(--color-white);
    color: var(--color-b);
    font-size: var(--font-s);
    letter-spacing: var(--letter-spacing);
}

h1,
h2,
h3,
p {
    margin: 0; 
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 15px;
    padding-left: 15px;
}

.header-container {
    border-bottom: 1px solid #ECECEC;
}

.main-container {
    min-width: 1200px;
}

.main-nav {
    display: flex;
    align-items: center;
}

  /* style header */

.link-logo {
    display: inline-block;
    font-family: 'Raleway';
    font-weight: 700;                         
    font-size: 26px;
    line-height: 1.19;
    color: var(--color-b);
    letter-spacing: var(--letter-spacing);
    text-decoration: none;
    margin-right: 93px;    
}

.logo-accent {
    color: var(--main-bg-color);
}

.nav-item:hover {
    color: var(--main-bg-color);   
}

.current {
    color: var(--main-bg-color);
}

.current-tab {
    position: relative;
}

.current-tab::after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 4px;
    background: var(--main-bg-color);
    border-radius: 2px;
}

.auth-nav {
    display: flex;
    margin-left: auto;  
}

.logo-item {
    font-weight: 400;
    line-height: var(--line-height);
    letter-spacing: 0.02em;
    color: var(--color-b);
    margin-right: 50px;
}

.site-item:nth-child(3n) {
    margin-right: 0;
} 

.auth-item {
    margin-left: 30px;
}

.auth-item:last-child {
    margin-right: 0;
}

.header-address:hover {
    color: var(--main-bg-color);
    cursor: pointer;
}
 
.icon-email, .icon-tel {
     fill: currentColor;
} 

.icon-email:hover {
    cursor: pointer;
    color: var(--main-bg-color);
}

.link-nav {
    display: block;
    padding-top: 30px;
    padding-bottom: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: var(--line-height);
    letter-spacing: 0.02em;
    color: var(--color-b);
    text-decoration: none; 

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-nav:focus {
    color: var(--main-bg-color);
}

.logo-address, .header-address {
    font-style: normal;
    font-weight: 500;
    line-height: var(--line-height);
    letter-spacing: 0.02em;
    color: var(--color-grey);
    text-decoration: none;
}

.header-address {
    display: flex;
    align-items: center;
    gap: 10px;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
}

.address-link {
    display: inline-block;
    margin-bottom: 9px;
}

    /* section-title */

.section {
    padding-top: 94px;
    padding-bottom: 94px;
    margin: 0 auto;
} 

.section-container {
    max-width: 1600px;
    min-height: 480px;
    margin-left: auto;
    margin-right: auto;

    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: var(--bg-color);
    background-image: linear-gradient(to right,  rgba(47, 48, 58, 0.4), 
        rgba(47, 48, 58, 0.4)), 
        url(../images/Imgheader.jpg);  
}

.section-title {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;

    text-align: center;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--color-white);
}

.section-btn {
    background: var(--main-bg-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    margin-top: 30px;
    cursor: pointer;
    width: 200px;
    height: 50px;
    left: 700px;
    top: 430px;
}

.btn-text {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--color-white);
}

.btn-wrapper {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    color: var(--color-b);
    cursor: pointer;
    background: #F5F4FA;
    border-radius: 4px;
    border: none;
    padding: 6px 22px;

    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.wrapper {
    background-color: var(--main-bg-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    color: #EEEEEE; 
}


.btn-wrapper:hover,
.btn-wrapper:focus {
    background-color: var(--main-bg-color);
    border-color: var(--main-bg-color);
    color: var(--color-white);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    
}

.site-nav {
    display: flex;
   justify-content: center;  
}

.nav {
    margin-bottom: 50px; 
}

.site-nav .nav-list:not(:last-child) {
    margin-right: 8px;
}

.nav-list {
    display: inline-block;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0);
}

.description {
    display: flex;
}

.description-list {
    width: 270px;
    margin-right: 30px; 
}

.description-list {
    display: inline-block;
    border-radius: 4px;
}

.descritpion-block {
    background: #F5F4FA;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
}

.description-list:nth-child(4n) {
    margin-right: 0;
}

.description-title {
    margin-top: 30px;
    line-height: var(--line-height);
    text-transform: uppercase;
    color: var(--color-b);
    font-size: var(--font-s);
}

.description-text {
    line-height: 1.714;
    color: var(--color-grey);

    margin-top: 10px;
}

.list-container {
    display: flex;
    margin-top: 50px;
}

.clients-header {
    font-weight: 700;
    text-align: center;
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.6;
    letter-spacing: 0.03em;
    color: var(--color-b);  
}

.clients-list {
    display: flex;
    fill: #AFB1B8;
}

.clients-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 92px;
    color: #AFB1B8;

    border: 1px solid #AFB1B8;
    border-radius: 4px;
    margin-right: 30px;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.clients-item:hover {
    color: var(--main-bg-color);
    border-color: var(--main-bg-color);
    cursor: pointer;
}

.clients-item:last-child {
    margin-right: 0;
}

.clients-svg {
    fill: currentColor;
      
}

/* section portfolio */

.portfolio-container {
    display: flex;
    flex-wrap: wrap;
}

.portfolio-list {
    background: var(--color-white);
    width: 370px;
   
    margin-right: 30px;
    margin-bottom: 30px;
}

.portfolio-list:nth-child(3n) {
    margin-right: 0;
}

.portfolio-list:nth-last-child(-n + 3) {
    margin-bottom: 0;
} 

.portfolio-link {
    display: block;
    text-decoration: none;
}

.portfolio-link:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 
    0px 4px 4px rgba(0, 0, 0, 0.06), 
    1px 4px 6px rgba(0, 0, 0, 0.16);

}

.container-overlay {
    position: relative;
    overflow: hidden;
}

.overlay {
    position: absolute;
    width: 370px;
    height: 294px;
    background: rgba(33, 150, 243, 0.9);

    opacity: 0;

    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
                opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list:hover .overlay {
    opacity: 1;
    transform: translateY(0);
}

.overlay-text {
    position: absolute;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.03em;
    color: var(--color-white);
    width: 370px;
    height: 168px;
    text-align: center;
    padding: 64px 24px;
}

.portfolio-content {
    border-left: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
    background: var(--color-white);
    padding: 20px 24px;
}

.portfolio-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--color-b);
}

.portfolio-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.875;

    margin-top: 4px;
    color: var(--color-grey);
}

/* section img */

.section-doing {
    padding-top: 0;
}

.section-heading {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    color: var(--color-b);
}

.header {
    padding-top: 0;
}

.img-list {
    position: relative;
    margin-right: 30px;
}

.img-list:nth-child(3n) {
    margin-right: 0;
} 


.img-list::before {
    display: inline-block;
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    width: 370px;
    height: 70px;
   
    background: rgba(47, 48, 58, 0.8);
}


.doing-text {
    position: absolute;
    left: 0;
    bottom: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 370px;
    height: 70px;
    
    font-weight: 700;
    font-size: var(--font-s);
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--color-white);
}


/* section our team */

 .team-container {
    display: flex;
    flex-wrap: wrap;
}

.our-team {
    background: #F5F4FA; 
}


.team-heading {
    font-weight: 700;
    font-size: 36px;
    margin-bottom: 50px;
    line-height: 1.16;
    text-align: center;
    color: var(--color-b);
}

.team-list {
    background: var(--color-white);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;  
    text-align: center;

    margin-right: 30px;
}

.team-list:nth-child(4n) {
    margin-right: 0;
}

.actions-icon {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;   
}

.icon-item {
    margin-right: 10px;
}

.icon-item:nth-child(4) {
    margin-right: 0;
}

.icon-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    padding: 0;
    border: none;
    background-color: #fff;
    border-radius: 50%;
    color: #AFB1B8;

     transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-link:hover {
    background-color: var(--main-bg-color);
    color: var(--color-white);
    cursor: pointer;
}

.icon-svg {
    width: 20px;
    height: 20px;
    fill: currentColor;
}

.team-img {
    margin-bottom: 30px;
}

.team-header {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    color: var(--color-b);
    margin-bottom: 10px;
}

.team-text {
    font-size: 16px;
    line-height: 1.18;
    color: var(--color-grey);
    margin-bottom: 16px;
}

/* footer */

.footer {
    background: var(--bg-color);
    padding-top: 60px;
    padding-bottom: 60px;
}

.foo-container {
    display: flex;
    align-items: baseline;
}

.link-accent {
    margin-bottom: 20px;
}

.footer-address {
    font-style: normal;
}

.footer-logo {
    color: var(--color-white);
}

.footer-list {
    margin-bottom: 9px; 
}

.footer-link {
    display: inline-block;

    font-weight: 400;
    line-height: 1.714;
    text-decoration: none;
    color: var(--color-white);
}

.footer-tel {
    margin-bottom: 0;
}

.footer-content {
    margin-left: 70px;  
}

.footer-paragraph {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 20px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--color-white);
}

.footer-actions {
    display: flex;
    justify-content: center;
    margin: 0;
}

.footer-icon {
    margin-right: 10px;
}

.footer-icon:nth-child(4) {
    margin-right: 0;
}

.links-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    padding: 0;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    color: var(--color-white);

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1); 

}

.links-icon:hover {
    background-color: var(--main-bg-color);
    cursor: pointer;
    color: var(--color-white);
}

.footer-svg {
    width: 20px;
    height: 16px;
    fill: currentColor;
}

/* btn footer */

.footer-subscribe {
    margin-left: auto;
}

.footer-subscribe-email {
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    background: #2F303A;
    border-radius: 4px;
    padding-left: 16px;
    color: var(--color-white);
}

.footer-subscribe-email::placeholder {
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.btn-subscribe {
   display: flex;
   justify-content: center;
   align-items: center;
   min-width: 200px;
   border-radius: 4px;
   padding: 10px 3px;
   margin-left: 12px;
   background-color: var(--main-bg-color);
   border: none;
   font-size: 16px;
   line-height: 1.875;
   font-family: inherit;
   letter-spacing: 0.06em;
   color: var(--color-white);
   cursor: pointer;

   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-subscribe:hover {
    background: #188CE8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.19);
}

.svg-send {
    margin-left: 10px;
    fill: currentColor;
}


.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity 250ms, visibility 250ms;  
}

.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 528px;
    height: 581px;
    background-color: var(--color-white);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px; 
}

.modal-close {
    top: 8px;
    right: 8px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 30px;
    height: 30px;
    background: var(--color-white);
    cursor: pointer;
}

.svg-close {
    fill: currentColor;
}

.svg-close:hover {
   fill: #2196F3;
}

.backdrop-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--color-b);
    margin-bottom: 12px;
}

/* modal form */

textarea {
    resize: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
}

.modal {
    padding: 40px;
}

.form-modal {
    width: 448px;
}

.form-modal-field {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.form-modal-label {
    margin-bottom: 4px;
    color: var(--color-grey);
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
}

.form-field-inner {
    position: relative;
}

.svg-modal-form {
    position: absolute;
    top: 50%;
    left: 0;
    fill: var(--color-b);
    margin-left: 12px;
    transform: translateY(-50%);
} 

.form-modal-field input {
    width: 100%;
    height: 40px;
    margin: 0;
    padding-left: 40px;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
} 

.form-modal-input:focus + .svg-modal-form,
.form-modal-input:hover + .svg-modal-form {
    fill: var(--main-bg-color);
}

.form-modal-input:focus,
.form-modal-input:hover {
    outline: none;
    border-color: var(--main-bg-color);
    cursor: pointer;
}

.comment {
    padding: 12px 16px;
}

.comment:hover,
.comment:focus {
    cursor: pointer;
    outline: none;
    border-color: var(--main-bg-color);
}

textarea::placeholder {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0 .01em;
    color: rgba(117, 117, 117, 0.5);
}

.option {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.icon-check-container {
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    border: 2px solid #212121;
    margin-right: 7px;
    width: 16px;
    height: 15px;
}

.svg-check {
    opacity: 0;
}

.chekbox-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: var(--color-grey);
}

.checkbox-link {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    margin-left: 5px;
    color: var(--main-bg-color);
}

.checkbox {
    /* appearance: none; */
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.checkbox:checked + .icon-check-container {
    background-color: var(--main-bg-color);
    border: .2px solid var(--main-bg-color);
}

.checkbox:checked + .icon-check-container .svg-check {
    opacity: 1;
}

.modal-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-btn {
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 4px;
    background-color: var(--main-bg-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    color: var(--color-white);
    cursor: pointer;
    margin-top: 30px;
   
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover {
    background: #188CE8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.19);
}











